[Unit] 
Description=SCD30 sensor server

[Service]
User=sveng
# wont have to move binaries to bin...
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/scripts/scd30-start.sh
Type=forking
StandardOutput=null
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

