[Unit] 
Description=SCD30 sensor server

[Service]
User=sveng
# wont have to move binaries to bin...
WorkingDirectory=/home/sveng/scd30
ExecStart=/home/sveng/scd30/scripts/scd30-start.sh
Type=forking
# Restart=always

[Install]
WantedBy=multi-user.target

