[Unit] 
Description=SCD30 sensor server

[Service]
User=sveng
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/bin/query_scd30 -i {{ read_interval }} -p {{ port }}
Type=simple
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

