[Unit] 
Description=SCD30 sensor server

[Service]
User=sveng
WorkingDirectory=/home/sveng/scd30
ExecStart=/home/sveng/scd30/bin/query_scd30 -i 30 -p 8080
Type=simple
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

